body {
    font-family: Arial;
    margin: 0;
}

header {
    background-color: rgb(0, 43, 128);
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
}

/* About Section */
.about {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.about img {
    width: 150px;
    border-radius: 50%;
}

/* Projects Section */
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

.box {
    background-color: rgb(161, 170, 175);
    padding: 15px;
    text-align: center;
}

/* Contact Form */
.form {
    text-align: center;
    padding: 20px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Media Query */
@media (max-width: 768px) {

    .about {
        flex-direction: column;
        text-align: center;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    nav a {
        display: block;
        margin: 5px;
    }
}